.logo{ color: rgb(56, 54, 54);
    font-weight: bold;}
    nav {
        background: rgb(174, 216, 245);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        box-shadow: 2px 3px 2px #f1f1f1;
        position: sticky;
      top: 0;
      left: 0;
      z-index: 1;}
    
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      
      .nav-item {display: block;
        margin-left: 2rem;
      }
      
      .nav-link {
        font-weight: var(--bold-font);
      }
      #video-display{
    
        display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5.9rem;
      max-width: 1100px;
      margin: 5rem auto 5rem 25rem;
      }
    .handicraft{
    
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
    }
    #premium{display: flex;
        font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-left: 20%;
    }
    #description{ 
    font-size:14px;
    text-align: left;
    margin-left: 20%;
    padding-top: -5px;
    margin-top:-15px;
    font-weight: bold;
    }
    
    .gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 280px;
        height: 350px;
        text-align: center;
        position: relative;
        align-items: flex-start;
        
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
    .desk{padding: 15px;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        width: unset;
        background-color:#DDDDDD;
        }
    #button{ align-items: center;
    background: yellow;
    border: solid yellowgreen;}
    #center{ display: flex;
    align-items: center;
    position :relative;
    margin-left: 20%;}
    input{ text-align: center;
    padding:5px;
    margin: 5px;}
    #img{
        max-width: 200px;
        max-height: 320px;
        float: left;
    }
    @media only screen and (max-width: 600px) {
        body {
          background-color: lightblue;
        }
        .video-display{max-width: 450px;
        max-height: 500px;
    margin:  auto;
    }
      }
    .footer{ 
    
      width:100%;
      border: solid grey;
      text-align: right;
     height: 100px;
      margin: 10px;
     
      background-color: #D3D3D3;
      
    }
    .footer li{padding: 5px 10px ;
    
        align-items: center;
      background-color: #D3D3D3;}
    .footer ul{ text-align: right;
    float: right;
    padding: 5px 10px ;}